.About h2, h3 {
    color: rgb(212, 209, 255);
}

h1 {
    color: rgb(12, 0, 99);
    size: 50px;
}

h3 {
    font-size: 30px;
}

ol {
    font-size: 20px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: left;
    list-style-type: '👾 ';
    margin-bottom: 2rem;
}