/* .title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.CardDetails p {
    font-size: 1.5rem;
    font-weight: 400;
}

.CardDetails a img {
    margin: 1em;
    height: 100px;
    width: 100px;
} */