.Header img {
    max-width: 300px;
    margin: auto;
    display: flex ;
    align-items: center;
    justify-content: center;
}

#logo {
    margin: 20px 0 0 0;
  }

h2 {
    color: rgb(255, 255, 255);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.nav-link-active {
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid;
  }

.nav {
    display: flex;
    margin: 0 0 1.5rem 0;
    padding: 0;
    justify-content: space-around;
    font-size: 40px;
    text-shadow: rgb(114, 255, 224) 0 0 10px;
}