/* .CardLayout {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    max-width: 1600px;
    padding: 1em;
    text-decoration: none;
}

.CardLayout section {
    background-image: radial-gradient(rgb(36, 8, 85), rgb(4, 77, 97));
    background-attachment: fixed;
    border-radius: 10px;
    padding: 15px 0;
    max-width: 420px;
    min-width: 330px;

}

.CardLayout section:hover {
    transform: 200%;
    margin: 4px 2px;
    opacity: 1.1;
    transition: 0.3s;
    background-color: aquamarine;
}

.CardLayout p {
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
}

@media only screen and (max-width: 960px) {
    .CardLayout {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .CardLayout {
        grid-template-columns: 1fr;
    }
} */